In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r"C:\Users\USER\OneDrive\Documents\Portfolio data\Survey Data.csv")
df

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28032,4/12/2024 11:02,35-44,Art & Design,Digital designer,Email,60000,0.0,GBP,NaN,NaN,United Kingdom,NaN,London,11 - 20 years,8 - 10 years,College degree,Man,White
28033,4/16/2024 19:21,18-24,Health care,Health Informatics,NaN,35000,1700.0,CAD,NaN,NaN,Canada,NaN,Toronto,1 year or less,1 year or less,College degree,Man,Asian or Asian American
28034,4/18/2024 16:21,25-34,Media & Digital,Product Manager,NaN,113000,0.0,USD,NaN,NaN,US,New York,N/A - Remote,5-7 years,5-7 years,College degree,Woman,White
28035,4/23/2024 23:39,18-24,Education (Higher Education),Teacher,NaN,13860,NaN,USD,NaN,NaN,Chile,NaN,Stgo,1 year or less,1 year or less,NaN,NaN,NaN
28036,4/25/2024 9:22,35-44,"Accounting, Banking & Finance",DBA,LORD,1000,100.0,USD,NaN,100,LOUTRELAND,NaN,LOUTRECITY,41 years or more,41 years or more,Some college,Other or prefer not to answer,Another option not listed here or prefer not t...

In [4]:
empty_rows = df[df.isnull().all(axis=1)]

# Print the empty rows, if any
if len(empty_rows) > 0:
    print("Empty rows found:")
    print(empty_rows)
else:
    print("No empty rows found.")

No empty rows found.

In [5]:
df.fillna(0, inplace=True)

In [6]:
df

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02,25-34,Education (Higher Education),Research and Instruction Librarian,0,"55,000",0.0,USD,0,0,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,0,"54,600",4000.0,GBP,0,0,United Kingdom,0,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,0,"34,000",0.0,USD,0,0,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02,25-34,Nonprofits,Program Manager,0,"62,000",3000.0,USD,0,0,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,0,"60,000",7000.0,USD,0,0,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28032,4/12/2024 11:02,35-44,Art & Design,Digital designer,Email,60000,0.0,GBP,0,0,United Kingdom,0,London,11 - 20 years,8 - 10 years,College degree,Man,White
28033,4/16/2024 19:21,18-24,Health care,Health Informatics,0,35000,1700.0,CAD,0,0,Canada,0,Toronto,1 year or less,1 year or less,College degree,Man,Asian or Asian American
28034,4/18/2024 16:21,25-34,Media & Digital,Product Manager,0,113000,0.0,USD,0,0,US,New York,N/A - Remote,5-7 years,5-7 years,College degree,Woman,White
28035,4/23/2024 23:39,18-24,Education (Higher Education),Teacher,0,13860,0.0,USD,0,0,Chile,0,Stgo,1 year or less,1 year or less,0,0,0
28036,4/25/2024 9:22,35-44,"Accounting, Banking & Finance",DBA,LORD,1000,100.0,USD,0,100,LOUTRELAND,0,LOUTRECITY,41 years or more,41 years or more,Some college,Other or prefer not to answer,Another option not listed here or prefer not t...

In [7]:
df.drop(columns=['Timestamp'], inplace=True)
df.drop(columns=['If your job title needs additional context, please clarify here:'], inplace=True)

In [8]:
df

,How old are you?,What industry do you work in?,Job title,"What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,0,0,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,0,0,United Kingdom,0,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",0.0,USD,0,0,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,25-34,Nonprofits,Program Manager,"62,000",3000.0,USD,0,0,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,0,0,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28032,35-44,Art & Design,Digital designer,60000,0.0,GBP,0,0,United Kingdom,0,London,11 - 20 years,8 - 10 years,College degree,Man,White
28033,18-24,Health care,Health Informatics,35000,1700.0,CAD,0,0,Canada,0,Toronto,1 year or less,1 year or less,College degree,Man,Asian or Asian American
28034,25-34,Media & Digital,Product Manager,113000,0.0,USD,0,0,US,New York,N/A - Remote,5-7 years,5-7 years,College degree,Woman,White
28035,18-24,Education (Higher Education),Teacher,13860,0.0,USD,0,0,Chile,0,Stgo,1 year or less,1 year or less,0,0,0
28036,35-44,"Accounting, Banking & Finance",DBA,1000,100.0,USD,0,100,LOUTRELAND,0,LOUTRECITY,41 years or more,41 years or more,Some college,Other or prefer not to answer,Another option not listed here or prefer not t...

In [9]:
columns_with_missing_values = df.columns[df.isnull().any()]
# Print columns with missing values, if any
if len(columns_with_missing_values) > 0:
    print("Columns with missing values:")
    print(df[columns_with_missing_values])
else:
    print(df[columns_with_missing_values])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[28037 rows x 0 columns]

In [10]:
missing_age_range_count = df['How old are you?'].isnull().sum()

if missing_age_range_count > 0:
    print("The 'How old are you?' column has", missing_age_range_count, "missing values.")
else:
    print("The 'How old are you?' column does not have any missing value")

The 'How old are you?' column does not have any missing value

In [11]:
missing_industry_count = df['What industry do you work in?'].isnull().sum()

if missing_industry_count > 0:
    print("The 'What industry do you work in?' column has", missing_industry_count, "missing values.")
else:
    print("The 'What industry do you work in?' column does not have any missing value")

The 'What industry do you work in?' column does not have any missing value

In [12]:
most_common_industry = df['What industry do you work in?'].mode()[0]

print("The most common industry among respondents is:", most_common_industry)

The most common industry among respondents is: Computing or Tech

In [13]:
df['What industry do you work in?'].fillna(most_common_industry, inplace=True)

In [14]:
missing_industry_count = df['What industry do you work in?'].isnull().sum()
print(missing_industry_count)

0

In [15]:
df.rename(columns={'What is your annual salary? (You\'ll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)': 'Annual Salary'}, inplace=True)

# Print the DataFrame to verify the change
df

,How old are you?,What industry do you work in?,Job title,Annual Salary,"How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,0,0,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,0,0,United Kingdom,0,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",0.0,USD,0,0,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,25-34,Nonprofits,Program Manager,"62,000",3000.0,USD,0,0,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,0,0,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28032,35-44,Art & Design,Digital designer,60000,0.0,GBP,0,0,United Kingdom,0,London,11 - 20 years,8 - 10 years,College degree,Man,White
28033,18-24,Health care,Health Informatics,35000,1700.0,CAD,0,0,Canada,0,Toronto,1 year or less,1 year or less,College degree,Man,Asian or Asian American
28034,25-34,Media & Digital,Product Manager,113000,0.0,USD,0,0,US,New York,N/A - Remote,5-7 years,5-7 years,College degree,Woman,White
28035,18-24,Education (Higher Education),Teacher,13860,0.0,USD,0,0,Chile,0,Stgo,1 year or less,1 year or less,0,0,0
28036,35-44,"Accounting, Banking & Finance",DBA,1000,100.0,USD,0,100,LOUTRELAND,0,LOUTRECITY,41 years or more,41 years or more,Some college,Other or prefer not to answer,Another option not listed here or prefer not t...

In [16]:
missing_industry_count = df['Annual Salary'].isnull().sum()

if missing_industry_count > 0:
    print("Annual Salary", missing_industry_count, "missing values.")
else:
    print("Nothing")

Nothing

In [17]:
df.rename(columns={'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.': 'Annual Salary bonus or overtime.'}, inplace=True)

In [18]:
missing_industry_count = df['Annual Salary bonus or overtime.'].isnull().sum()

if missing_industry_count > 0:
    print("Annual Salary bonus", missing_industry_count, "missing values.")
else:
    print("Nothing")

Nothing

In [21]:
missing_bonus_count = df['Annual Salary bonus or overtime.'].isnull().sum()

print("Number of missing values in 'Annual Salary bonus or overtime.' column:", missing_bonus_count)

Number of missing values in 'Annual Salary bonus or overtime.' column: 0

In [23]:
df['Annual Salary bonus or overtime.'].fillna(0.0, inplace=True)

# Check if there are any missing values left in the column
missing_bonus_count = df['Annual Salary bonus or overtime.'].isnull().sum()
print(missing_bonus_count)

0

In [24]:
missing_currency_count = df['Please indicate the currency'].isnull().sum()

if missing_currency_count > 0:
    print("The 'Please indicate the currency' column has", missing_currency_count, "missing values.")
else:
    print("The 'Please indicate the currency' column does not have any missing values.")

The 'Please indicate the currency' column does not have any missing values.

In [25]:
non_zero_income_context = df[df['If your income needs additional context, please provide it here:'] != 0]

# Print the DataFrame subset with non-zero values in the "If your income needs additional context, please provide it here:" column
print("Rows with non-zero values in 'If your income needs additional context, please provide it here:' column:")
print(non_zero_income_context)

Rows with non-zero values in 'If your income needs additional context, please provide it here:' column:
      How old are you?  What industry do you work in?             Job title  \
9                35-44  Accounting, Banking & Finance     Senior Accountant
32               25-34  Accounting, Banking & Finance     Financial Advisor
44               25-34              Computing or Tech  Intelligence Analyst
62          65 or over       Property or Construction       Safety Director
65               25-34   Education (Higher Education)   Research Programmer
...                ...                            ...                   ...
28007            18-24              Computing or Tech                  sdsd
28009            25-34  Accounting, Banking & Finance                 mn jj
28015            18-24              Computing or Tech                Intern
28021            18-24                              0                   bum
28036            35-44  Accounting, Banking & Finance                   DBA

      Annual Salary  Annual Salary bonus or overtime.  \
9            45,000                               0.0
32          230,000                               0.0
44          110,000                           20000.0
62          104,000                           25000.0
65           70,000                               0.0
...             ...                               ...
28007             4                              22.0
28009            15                               0.0
28015             0                               0.0
28021      10000000                             299.0
28036          1000                             100.0

      Please indicate the currency  \
9                              USD
32                             USD
44                             USD
62                             USD
65                             USD
...                            ...
28007                          USD
28009                          USD
28015                          GBP
28021                          USD
28036                          USD

      If "Other," please indicate the currency here:   \
9                                                   0
32                                                  0
44                                                  0
62                                                  0
65                                                  0
...                                               ...
28007                                               1
28009                                        ekignkfb
28015                                             hhv
28021                                            rice
28036                                               0

      If your income needs additional context, please provide it here:  \
9                            I work for a Charter School
32                                      Commission based
44                         Around 20,000 a year in stock
62                       Extra money comes from overtime
65     Technically 37.5 hours, but ends up being pret...
...                                                  ...
28007                                                 dd
28009                                          dikfmklfb
28015                                               hvhv
28021                                               ewad
28036                                                100

      What country do you work in?  \
9                    United States
32                             USA
44                             USA
62                             USA
65                             USA
...                            ...
28007                           ss
28009                       dbfemf
28015                        ibdia
28021                          usa
28036                   LOUTRELAND

      If you're in the U.S., what state do you work in?  \
9                                               Florida
32                                             Missouri
44                                             Virginia
62                                              Georgia
65                                         Rhode Island
...                                                 ...
28007                                          Arkansas
28009                          Alabama, Alaska, Arizona
28015                                                 0
28021                                            Alaska
28036                                                 0

      What city do you work in?  \
9                    Palm Coast
32                    St. Louis
44                Arlington, VA
62                      Atlanta
65                   Providence
...                         ...
28007                         s
28009                    dhgbfv
28015                      pubw
28021                      Rice
28036                LOUTRECITY

      How many years of professional work experience do you have overall?  \
9                                          21 - 30 years
32                                         11 - 20 years
44                                          8 - 10 years
62                                      41 years or more
65                                             5-7 years
...                                                  ...
28007                                          5-7 years
28009                                        2 - 4 years
28015                                     1 year or less
28021                                   41 years or more
28036                                   41 years or more

      How many years of professional work experience do you have in your field?  \
9                                          21 - 30 years
32                                         11 - 20 years
44                                          8 - 10 years
62                                         21 - 30 years
65                                           2 - 4 years
...                                                  ...
28007                                      11 - 20 years
28009                                      31 - 40 years
28015                                     1 year or less
28021                                       8 - 10 years
28036                                   41 years or more

      What is your highest level of education completed?  \
9                                         College degree
32                                        College degree
44                                       Master's degree
62                                        College degree
65                                       Master's degree
...                                                  ...
28007                                       Some college
28009                                       Some college
28015                                                  0
28021                 Professional degree (MD, JD, etc.)
28036                                       Some college

                What is your gender?  \
9                              Woman
32                             Woman
44                               Man
62                               Man
65                        Non-binary
...                              ...
28007                            Man
28009                          Woman
28015                          Woman
28021                     Non-binary
28036  Other or prefer not to answer

             What is your race? (Choose all that apply.)
9             Hispanic, Latino, or Spanish origin, White
32                                                 White
44                                                 White
62                                                 White
65                                                 White
...                                                  ...
28007                          Black or African American
28009  Asian or Asian American, Black or African Amer...
28015                          Black or African American
28021                                              White
28036  Another option not listed here or prefer not t...

[3041 rows x 16 columns]

In [27]:
df['What country do you work in?'] = df['What country do you work in?'].replace('US', 'United States of America')
df['What country do you work in?'] = df['What country do you work in?'].replace('USA', 'United States of America')

In [28]:
has_zeros = (df["If you're in the U.S., what state do you work in?"] == 0).any()

if has_zeros:
    print("The 'If you're in the U.S., what state do you work in?' column contains zero values.")
else:
    print("The 'If you're in the U.S., what state do you work in?' column does not contain any zero values.")

The 'If you're in the U.S., what state do you work in?' column contains zero values.

In [29]:
most_common_country = df["What country do you work in?"].mode()[0]

print("The most common country is", most_common_country)

The most common country is United States of America

In [30]:
#Rows with zero values that coincides with United state has been taken care of. 
filtered_df = df[(df['What country do you work in?'] == 'United States of America') & (df["If you're in the U.S., what state do you work in?"].isin([0, '0', '']))]
filtered_df

,How old are you?,What industry do you work in?,Job title,Annual Salary,Annual Salary bonus or overtime.,Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
171,25-34,Government and Public Administration,Program Analyst,"117,500",1500.0,USD,0,0,United States of America,0,Washington DC,8 - 10 years,5-7 years,Master's degree,0,"Hispanic, Latino, or Spanish origin"
191,25-34,Computing or Tech,Systems Analyst,"80,000",0.0,USD,0,0,United States of America,0,Portland,5-7 years,2 - 4 years,Master's degree,Woman,White
203,25-34,Education (Higher Education),Assistant Professor,"60,000",2500.0,USD,0,0,United States of America,0,Birmingham,2 - 4 years,2 - 4 years,PhD,Non-binary,White
217,35-44,Insurance,Manager & Actuary,"170,000",30000.0,USD,0,0,United States of America,0,New York,11 - 20 years,8 - 10 years,Master's degree,Woman,White
274,25-34,Engineering or Manufacturing,Geostructural Design Engineer,"110,000",14000.0,USD,0,"Annual salary, vehicle reimbursement (8k), ann...",United States of America,0,Philadelphia,8 - 10 years,8 - 10 years,Master's degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25076,55-64,Government and Public Administration,Contact Representative,60112,0.0,USD,0,0,United States of America,0,Denver,31 - 40 years,11 - 20 years,College degree,Woman,White
25207,25-34,Nonprofits,Security Analyst,44000,0.0,USD,0,0,United States of America,0,East Coast USA,2 - 4 years,2 - 4 years,Master's degree,Woman,White
25323,35-44,Government and Public Administration,Senior Fiscal Analyst,130000,25000.0,USD,0,0,United States of America,0,Prefer not to disclose,11 - 20 years,11 - 20 years,Master's degree,Woman,White
25599,25-34,Health care,Physician Assistant,135000,0.0,USD,0,0,United States of America,0,Springfield,2 - 4 years,2 - 4 years,Master's degree,Woman,White
26119,35-44,Media & Digital,Editor,45000,0.0,USD,0,0,United States of America,0,Fully remote company based out of CA,11 - 20 years,8 - 10 years,College degree,Woman,White

In [31]:
us_df = df[df['What country do you work in?'] == 'United States of America']

# Find the most common state among those who work in the United States of America
most_common_state = us_df["If you're in the U.S., what state do you work in?"].mode()[0]
most_common_state

'California'

In [33]:
us_df = df[df['What country do you work in?'] == 'United States of America']

# Count the occurrences of zero values in the "If you're in the U.S., what state do you work in?" column
zero_count = (us_df["If you're in the U.S., what state do you work in?"] == 0).sum()
zero_count

81

In [34]:
df

,How old are you?,What industry do you work in?,Job title,Annual Salary,Annual Salary bonus or overtime.,Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,0,0,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,0,0,United Kingdom,0,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",0.0,USD,0,0,United States of America,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,25-34,Nonprofits,Program Manager,"62,000",3000.0,USD,0,0,United States of America,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,0,0,United States of America,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28032,35-44,Art & Design,Digital designer,60000,0.0,GBP,0,0,United Kingdom,0,London,11 - 20 years,8 - 10 years,College degree,Man,White
28033,18-24,Health care,Health Informatics,35000,1700.0,CAD,0,0,Canada,0,Toronto,1 year or less,1 year or less,College degree,Man,Asian or Asian American
28034,25-34,Media & Digital,Product Manager,113000,0.0,USD,0,0,United States of America,New York,N/A - Remote,5-7 years,5-7 years,College degree,Woman,White
28035,18-24,Education (Higher Education),Teacher,13860,0.0,USD,0,0,Chile,0,Stgo,1 year or less,1 year or less,0,0,0
28036,35-44,"Accounting, Banking & Finance",DBA,1000,100.0,USD,0,100,LOUTRELAND,0,LOUTRECITY,41 years or more,41 years or more,Some college,Other or prefer not to answer,Another option not listed here or prefer not t...

In [36]:
zero_city_rows = df[df['What city do you work in?'] == 0]
zero_city_rows

,How old are you?,What industry do you work in?,Job title,Annual Salary,Annual Salary bonus or overtime.,Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
148,25-34,Education (Higher Education),English as a Second Language Teacher,"18,000",0.0,EUR,0,0,Spain,0,0,8 - 10 years,5-7 years,College degree,Woman,White
700,25-34,Libraries,Supervisor of Children's Services,"60,800",0.0,USD,0,0,United States,Connecticut,0,8 - 10 years,5-7 years,Master's degree,Woman,White
904,45-54,Computing or Tech,senior primary systems engineer,"117,000",6.0,USD,0,0,usa,California,0,31 - 40 years,11 - 20 years,College degree,Woman,Black or African American
944,35-44,Government and Public Administration,Disability support,"57,500",0.0,CAD,0,0,Canada,0,0,5-7 years,2 - 4 years,College degree,Woman,White
1396,35-44,Government and Public Administration,Health science administrator,"116,000",0.0,USD,0,0,Usa,Maryland,0,11 - 20 years,2 - 4 years,PhD,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27019,25-34,Education (Primary/Secondary),System Administrator,45000,0.0,USD,0,0,United States,Texas,0,2 - 4 years,5-7 years,College degree,Man,White
27248,18-24,Science,Laboratory technician,22000,0.0,GBP,0,0,United kingdom,0,0,2 - 4 years,1 year or less,Master's degree,Woman,White
27972,under 18,"Accounting, Banking & Finance",McDonalds Crew Member,40000,0.0,USD,0,0,United States of America,Minnesota,0,1 year or less,1 year or less,High School,Woman,Asian or Asian American
27996,18-24,I'm currently a student and don't have a job,0,0,0.0,USD,0,There is no income right now,U.S.A,Pennsylvania,0,2 - 4 years,2 - 4 years,Some college,Man,Black or African American
28020,25-34,Student,Student,0,0.0,USD,0,0,United States of America,Illinois,0,1 year or less,1 year or less,College degree,Other or prefer not to answer,White

In [37]:
zero_count = (df['What city do you work in?'] == 0).sum()
zero_count

78

In [38]:
city_mode = df['What city do you work in?'].mode()
city_mode

0    Boston
dtype: object

In [39]:
zero_city_indices = df[df['What city do you work in?'] == 0].index

# Drop the rows with zero values in the city column
df.drop(zero_city_indices, inplace=True)

In [40]:
zero_count = (df['How many years of professional work experience do you have overall?'] == 0).sum()
zero_count

0

In [41]:
zero_count = (df['How many years of professional work experience do you have in your field?'] == 0).sum()
zero_count

0

In [42]:
zero_count = (df['What is your highest level of education completed?'] == 0).sum()
zero_count

219

In [44]:
us_df = df['What is your highest level of education completed?'].mode()
us_df

0    College degree
dtype: object

In [45]:
df['What is your highest level of education completed?'] = df['What is your highest level of education completed?'].replace(0, 'College degree')

In [46]:
zero_count = (df['What is your gender?'] == 0).sum()
zero_count

170

In [47]:
us_df = df['What is your gender?'].mode()
us_df

0    Woman
dtype: object

In [48]:
df['What is your gender?'] = df['What is your gender?'].replace(0, 'Woman')

In [49]:
us_df = (df['What is your race? (Choose all that apply.)']==0).sum()
us_df

175

In [51]:
us_df = df['What is your race? (Choose all that apply.)'].mode()
us_df

0    White
dtype: object

In [52]:
df['What is your race? (Choose all that apply.)'] = df['What is your race? (Choose all that apply.)'].replace(0, 'White')

In [53]:
df

,How old are you?,What industry do you work in?,Job title,Annual Salary,Annual Salary bonus or overtime.,Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,0,0,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,0,0,United Kingdom,0,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",0.0,USD,0,0,United States of America,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,25-34,Nonprofits,Program Manager,"62,000",3000.0,USD,0,0,United States of America,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,0,0,United States of America,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28032,35-44,Art & Design,Digital designer,60000,0.0,GBP,0,0,United Kingdom,0,London,11 - 20 years,8 - 10 years,College degree,Man,White
28033,18-24,Health care,Health Informatics,35000,1700.0,CAD,0,0,Canada,0,Toronto,1 year or less,1 year or less,College degree,Man,Asian or Asian American
28034,25-34,Media & Digital,Product Manager,113000,0.0,USD,0,0,United States of America,New York,N/A - Remote,5-7 years,5-7 years,College degree,Woman,White
28035,18-24,Education (Higher Education),Teacher,13860,0.0,USD,0,0,Chile,0,Stgo,1 year or less,1 year or less,College degree,Woman,White
28036,35-44,"Accounting, Banking & Finance",DBA,1000,100.0,USD,0,100,LOUTRELAND,0,LOUTRECITY,41 years or more,41 years or more,Some college,Other or prefer not to answer,Another option not listed here or prefer not t...

In [54]:

output_directory = r"C:\Users\USER\Videos\Datasets"

# Save the DataFrame as a CSV file in the specified directory
df.to_csv(output_directory + 'output_file.csv', index=False)
print("File saved successfully in:", output_directory + 'output_file.csv')

File saved successfully in: C:\Users\USER\Videos\Datasetsoutput_file.csv